* {
    font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
    width: 0px
  }

body{
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    background-color: #F48C40;
    overflow-x: hidden;

    cursor: default;
}

#box{
    color: snow;
    display: flex;
    flex-direction: column;
    
}

header{
    display: flex;
    flex-direction: row;
    height: 10vh;
    padding-block: 1vh;
    width: auto;

    background-color: #E96C11;

    align-items: center;
}

h1{
    font-size: 2vw;
    padding-inline: 2vw 2vw;
}

#line{
    background-color: white;


    border-radius: 90px;

    height: 100%;
    width: 3px;

    margin-inline: 1vw 1vw;
}

nav{
    width: 80vw;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li{

    list-style: none;
}

a{
    padding-block: 1.5vh;
    padding-inline: 2.5vw;

    color: snow;

    text-decoration: none;

    font-size: 2vh;

    display: inline-block;
    position: relative;
    color: snow;
}

a::after{
    margin-top: 5vh;
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    left: 0;
    background-color: snow;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

a:hover::after{
    margin-top: 5vh;
    transform: scaleX(1);
    transform-origin: bottom left;
}

#M{
    background-color: #1C1C1C;
}


#Mik{
    background-image: url("img/cmpBd.jpg");
}

#N{
    background-color: #327C81;
}

#grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

main{
    height: auto;
    width: 100vw;

    grid-column: 1/-1;
    grid-row: 1/-1;

    display: grid;
    grid-template-areas: 
    "aside1 aside2"
    "section section";

}

.maincontents{
    z-index: 1;
}


aside{
    width: 50vw;
    height: 80vh;
    z-index: 1;

    /* border: 1px solid red; */
}

#aside1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;

    grid-area: aside1;
}

#aside1 div{
    margin-top: 4vh;
    margin-right: 5vw;
}

#aside2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

    grid-area: aside2;
}

#aside2 div{
    margin-left: 5vw;
}

.imgholder{
    height: 30vh;
    width: 15vw;

    box-shadow: 1vh 1vh 0.6vh rgba(14, 13, 13, 0.9);
    border: 0.5vh solid gold;
}

.CatImg{
    height: 100%;
    width: 100%;
}

#mainsection{
    height: auto;
    display: flex;
    justify-content: center;
    align-items:end;

    /* border: 1px solid blue; */

    grid-area: section;

    z-index: 1;
}

.SectionImg{
    height: 50vh;
    width: 25vw;
}

#mainsection div img{
    height: 100%;
    width: 100%;
}


footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 1vh;

    background-color: #E96C11;

    width: auto;
    height: 10vh;
    
    font-size: 2vh;
}

.open-button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding-block: 1.5vh;
    padding-inline: 2.5vw;
    text-align: center;
    text-decoration: none;
    font-size: 2vh;

    display: inline-block;
    position: relative;
}

.open-button::after{
    margin-top: 15%;
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    left: 0;
    background-color: snow;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.open-button:hover::after{
    margin-top: 15%;
    transform: scaleX(1);
    transform-origin: bottom left;
}

.submit{
    background-color: #f44336; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;

    display: inline-block;
    position: relative;
}

.modal{
    padding: 1em;
    max-width: 50ch;
}

.modal::backdrop{
    background-image: url("img/kottło.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    opacity: .95;
}

form {
    display: grid;
    gap: 1em;
}

dialog{
    background-color: grey;
}

dialog textarea,input{
    transition: 1s linear;
    border-radius: 5px;
}

dialog textarea:hover,input:hover{
    transition: 0s linear;
    box-shadow: 0 0 1em #E96C11;
}


/* ================================= */

#intBck{
    position: relative;
    width: 100vw;
    height: 150vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    grid-column: 1/-1;
    grid-row: 1/-1;
}

section .row{
    position: relative;
    top: -70%;
    display: flex;
    width: 100vw;
    padding: 10px 0;
    white-space: nowrap;
    font-size: 24rem;
    transform: rotate(-30deg);
}

section .row div{
    animation: bajera1 80s linear infinite;
    animation-delay: -80s;
}

section .row div:nth-child(2){
    animation: bajera2 80s linear infinite;
    animation-delay: -40s;
}

@keyframes bajera1{

    0%{
        transform: translateX(100%);
    }

    100%{
        transform: translateX(-100%);
    }
}

@keyframes bajera2{

    0%{
        transform: translateX(0%);
    }

    100%{
        transform: translateX(-200%);
    }
}

section .row:nth-child(even) div{
    animation: bajera3 80s linear infinite;
    animation-delay: -80s;
}

section .row:nth-child(even) div:nth-child(2){
    animation: bajera4 80s linear infinite;
    animation-delay: -40s;
}

@keyframes bajera3{

    0%{
        transform: translateX(-100%);
    }

    100%{
        transform: translateX(96%);
    }
}

@keyframes bajera4{

    0%{
        transform: translateX(-200%);
    }

    100%{
        transform: translateX(-10);
    }
}

i{
    color: rgba(0, 0, 0, 0.5);
    transition: 1s;
    padding: 0 5px;
    user-select: none;
    cursor: default;
}

/* ============================================ */